h1 {
    color: darkcyan;;
    font-size: xx-large;
    font-weight: bolder;
    margin: auto;
    padding : 2%;
}

header {
    display: flex;
    justify-content: space-around;
    padding : 2%;
}

button {
    border-radius: 15px;
    background-color: darkcyan;
    color: white;
    font-size: larger;
    text-decoration: none;
    font-weight: bolder;
    padding : 10px 60px;
    cursor: pointer;
}

main {
    border: 2px solid black;
    padding : 2%;
}

#board {
    background-color : green;
    width : 400px;
    heignt : 400px;
    border: 2px solid black;
}

#deck {
    background-image: url("../image/deck.png");
    background-size: cover;
    border: 2px solid black;
    width : 400px;
    heignt : 400px;
}

#game {
    border: 2px solid black;
    background-color : red;
    width : 400px;
    heignt : 400px;
}

#result {
    background-color : yellow;
    border: 2px solid black;
    width : 400px;
    heignt : 400px;
}

