body {
    background-color : black;
    background-image: url("../image/wall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Diplomata', cursive;
    color: white;
    -webkit-text-stroke: 1px black;
    margin : 7%;
}

header {
    display: flex;
    justify-content: space-around;
}

#war, #klondike {
    background-color: black;
    border-radius: 15px;
    padding: 1% 10%;
    color: white;
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
}

#main {
    display: flex;
    justify-content: center;
}

#board {
    background-image: url("../image/mats.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5%;
    width: 70%;
    border: 2px solid black;
    border-radius: 15px;
}

#topBoard {
    display: flex;
    justify-content: space-between;
    margin: 10%;
}

#deck {
    width : 30%;
    display: flex;
    justify-content: flex-start;
}

#treat {
    width : 30%;
    display: flex;
    justify-content: flex-end;
}
#imgDeck {
    width: 40%;
    cursor: pointer;
}

#imgTreat {
    width: 40%;
}

#game {
    display: flex;
    justify-content: space-between;
    margin: 10%;
}

.cardFace {
    width : 30%;
    display: flex;
    justify-content: center;
}
.imgCardFace {
    width : 40%;
}


#result {
    background-color : yellow;
    border: 2px solid black;
}