h1 {
    color: red;
    font-size: xx-large;
    font-weight: bolder;
    margin: auto;
    padding : 2%;
}

header {
    display: flex;
    justify-content: space-around;
    padding : 2%;
}

button {
    border-radius: 15px;
    background-color: green;
    color: white;
    font-size: larger;
    text-decoration: none;
    font-weight: bolder;
    padding : 10px 60px;
    cursor: pointer;
}

#main {
    padding : 2%;
}

#board {
    background-color : green;
    border: 2px solid green;
    border-radius: 15px;
}


#deck {
    background-image: url("../image/deck.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid white;
    border-radius: 15px;
    width : 100px;
    height : 140px;
    margin : 5%;
    cursor: pointer;
}

#game {
    border: 2px solid black;
    background-color : red;
}

#result {
    background-color : yellow;
    border: 2px solid black;
}