body {
    background-color : black;
    background-image: url("../image/wall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Diplomata', cursive;
    color: white;
    -webkit-text-stroke: 1px black;
    margin: 4% 4% 1%;
}

header {
    display: flex;
    justify-content: space-around;
}

#war, #klondike {
    background-color: black;
    border-radius: 10px;
    padding: 1% 6%;
    color: white;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
}

#main {
    display: flex;
    justify-content: center;
}

#board {
    background-image: url("../image/mats.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2%;
    width: 60%;
}

#topBoard {
    display: flex;
    justify-content: space-between;
    margin: 14%;
}

#deck {
    width : 30%;
    display: flex;
    justify-content: flex-start;
}

#treat {
    width : 30%;
    display: flex;
    justify-content: flex-end;
}
#imgDeck {
    width: 40%;
    cursor: pointer;
    border: 1px solid black;
}

#imgTreat {
    width: 40%;
}

#game {
    display: flex;
    justify-content: space-between;
    margin: 14%;
}


.cardFace {
    width : 100px;
    display: flex;
    justify-content: center;
}

.imgCardFace {
    visibility: hidden;
    width : 40%;
}


#result {
    background-color : yellow;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

#round {
    background-color: red;
    border: 2px solid black;
}

#player {
    background-color: green;
    border: 2px solid black;
}

#nextRoundCont {
    display: flex;
    justify-content: center;
}
#nextRound {
    visibility: hidden;
    background-color: white;
    border-radius: 10px;
    padding: 1% 3%;
    color: black;
    font-weight: bolder;
    font-size: small;
    cursor: pointer;
}